.text-31-homepage-31-techliners {
  position: absolute;
  top: 336px;
  left: 242px;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
}
.empoweringgrowththroughinnovat {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 96px;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 996px;
  height: 532px;
}
.weleverageaiiotandmachinelearn {
  position: absolute;
  top: 384px;
  left: 14px;
  line-height: 125%;
  font-weight: 600;
  color: #474747;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 500px;
}
.buttonlabel-31-button-31-homeh {
  position: relative;
  line-height: 124%;
  font-weight: 500;
}
.button-31-homehero-31-homepage {
  position: absolute;
  top: 584px;
  left: 182px;
  border-radius: 4px;
  background-color: #14a098;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.farmer-rice-field-with-laptop2-icon {
  position: relative;
  border-radius: 40px;
  width: 226px;
  height: 303px;
  object-fit: cover;
}
.farmer-rice-field-with-laptop3-icon,
.farmer-rice-field-with-laptop4-icon {
  position: relative;
  border-radius: 40px;
  width: 225px;
  height: 487px;
  object-fit: cover;
}
.farmer-rice-field-with-laptop4-icon {
  width: 229px;
  height: 703px;
}
.herophoto-31-homehero-31-homep {
  position: absolute;
  top: 32px;
  left: 544px;
  height: 703px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconoirlearning-31-learndevelo {
  position: absolute;
  top: 0;
  left: 3px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.carbondeploy-31-learndevelopim-icon,
.iconoirdeveloper-31-learndevel {
  position: absolute;
  top: 2px;
  left: 435px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.carbondeploy-31-learndevelopim-icon {
  top: 0;
  left: 867px;
}
.learn-31-learndevelopimplement {
  position: absolute;
  top: 69px;
  left: 0;
  line-height: 125%;
  font-weight: 600;
}
.develop-31-learndevelopimpleme,
.implement-31-learndevelopimple {
  position: absolute;
  top: 74px;
  left: 421px;
  line-height: 125%;
  font-weight: 600;
}
.implement-31-learndevelopimple {
  top: 63px;
  left: 822px;
}
.learndevelopimplementbar-31-ho {
  position: absolute;
  top: 759px;
  left: 221px;
  width: 924px;
  height: 97px;
  color: #2c3e50;
}
.homehero-31-homepage-31-techli {
  position: absolute;
  top: 200px;
  left: 24px;
  width: 1224px;
  height: 856px;
  color: #9b59b6;
}
.techlinersincofficiallogo20234-icon {
  position: absolute;
  top: 29px;
  left: 45px;
  width: 213px;
  height: 107px;
  object-fit: cover;
}
.listitem-31-navigatorlistitem- {
  position: relative;
  line-height: 125%;
  font-weight: 600;
}
.navigatorlistitem-31-navigatio {
  padding: 10px;
}
.navigationmenu-31-header-31-ho,
.navigatorlistitem-31-navigatio,
.navigatorlistitem-31-navigatio2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigatorlistitem-31-navigatio2 {
  padding: 10px;
  cursor: pointer;
}
.navigationmenu-31-header-31-ho {
  position: absolute;
  top: 93px;
  left: 470px;
  width: 815px;
  gap: 16px;
}
.header-31-homepage-31-techline {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c3e50;
  width: 1440px;
  height: 208px;
  overflow: hidden;
  color: #fff;
}
.techlinersinc-31-techlinersin {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 1118px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 18px;
}
.text-31-aboutus-31-techlinersi {
  position: absolute;
  top: 336px;
  left: 242px;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
}
.aboutus-31-aboutussection-31-a {
  position: absolute;
  top: 28px;
  left: 144px;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 237px;
}
.foundedin2017techlinersincwasb {
  position: absolute;
  top: 96px;
  left: 0;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 525px;
}
.farmer-rice-field-with-laptop4-icon1 {
  position: absolute;
  top: -31px;
  left: 551px;
  border-radius: 40px;
  width: 665px;
  height: 471px;
  object-fit: cover;
}
.aboutussection-31-aboutus-31-t {
  position: absolute;
  top: 296px;
  left: 25px;
  width: 1235px;
  height: 449px;
}
.vision-31-visionsection-31-abo {
  position: absolute;
  top: 68px;
  left: 825px;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 237px;
}
.techlinersincenvisionsafuturew {
  position: absolute;
  top: 148px;
  left: 705px;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 512px;
}
.farmer-rice-field-with-laptop5-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  width: 665px;
  height: 484px;
  object-fit: cover;
}
.visionsection-31-aboutus-31-te {
  position: absolute;
  top: 800px;
  left: 25px;
  width: 1235px;
  height: 488px;
}
.ourcorevalues-31-corevalues-31 {
  position: absolute;
  top: 61px;
  left: 72px;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 344px;
}
.attechlinersincourcorevaluesse {
  position: absolute;
  top: 148px;
  left: 0;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 529px;
}
.farmer-rice-field-with-laptop1-icon {
  position: absolute;
  top: 0;
  left: 575px;
  border-radius: 40px;
  width: 634px;
  height: 444px;
  object-fit: cover;
}
.corevalues-31-aboutus-31-techl {
  position: absolute;
  top: 1960px;
  left: 25px;
  width: 1223px;
  height: 456px;
}
.meettheteam-31-meettheteam-31- {
  position: absolute;
  top: 0;
  left: 513px;
  font-size: 40px;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  display: inline-block;
  width: 344px;
}
.farmer-rice-field-with-laptop6-icon {
  position: absolute;
  top: 96px;
  left: 0;
  border-radius: 40px;
  width: 279px;
  height: 342px;
  object-fit: cover;
}
.farmer-rice-field-with-laptop7-icon,
.farmer-rice-field-with-laptop8-icon,
.farmer-rice-field-with-laptop9-icon {
  position: absolute;
  top: 96px;
  left: 318px;
  border-radius: 40px;
  width: 279px;
  height: 342px;
  object-fit: cover;
}
.farmer-rice-field-with-laptop8-icon,
.farmer-rice-field-with-laptop9-icon {
  left: 636px;
}
.farmer-rice-field-with-laptop9-icon {
  left: 934px;
}
.okettayot-lawrence {
  margin: 0;
}
.okettayotlawrencefounderceo-31,
.suunaalexchieffinanceofficer-3 {
  position: absolute;
  top: 467px;
  left: 40px;
  line-height: 125%;
  font-weight: 600;
}
.suunaalexchieffinanceofficer-3 {
  left: 363px;
}
.anywaremmanuelbusinessmanager-,
.okellofelixatubechieftechnolog {
  position: absolute;
  top: 467px;
  left: 688px;
  line-height: 125%;
  font-weight: 600;
}
.okellofelixatubechieftechnolog {
  top: 472px;
  left: 961px;
}
.meettheteam-31-aboutus-31-tech {
  position: absolute;
  top: 1356px;
  left: 25px;
  width: 1213px;
  height: 518px;
  font-size: 18px;
  color: #2c3e50;
}
.techlinersinc-31-techlinersin1 {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 2476px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 40px;
  color: #9b59b6;
}
.text-31-products-31-techliners {
  position: absolute;
  top: 419px;
  left: 252px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #000;
  text-align: left;
}
.sparkybriquettes-31-sparkybriq {
  position: absolute;
  top: 94px;
  left: 106px;
  letter-spacing: -0.04em;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 293px;
}
.farmer-rice-field-with-laptop8-icon1 {
  position: absolute;
  top: 0;
  left: 686px;
  border-radius: 40px;
  width: 494px;
  height: 631px;
  object-fit: cover;
}
.atsparkyourcommitmenttosustain1 {
  line-break: anywhere;
  width: 100%;
}
.atsparkyourcommitmenttosustain {
  position: absolute;
  top: 169px;
  left: 0;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 624px;
  height: 351px;
}
.button-31-sparkybriquettessect {
  position: absolute;
  top: 520px;
  left: 222px;
  border-radius: 4px;
  border: 1px solid #14a098;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  text-align: left;
  font-size: 14px;
  color: #14a098;
}
.sparkybriquettessection-31-pro {
  position: absolute;
  top: 2575px;
  left: 24px;
  width: 1180px;
  height: 631px;
  text-align: center;
  font-size: 32px;
  color: #9b59b6;
}
.sparkydryer-31-sparkydryersect {
  position: absolute;
  top: 0;
  left: 764px;
  font-size: 32px;
  letter-spacing: -0.04em;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  text-align: center;
  display: inline-block;
  width: 293px;
}
.farmer-rice-field-with-laptop6-icon1 {
  position: absolute;
  top: 94px;
  left: 0;
  border-radius: 40px;
  width: 659px;
  height: 498px;
  object-fit: cover;
}
.thesparkydryercombinestheuseof,
.thesparkydryerisapioneeringagr {
  position: absolute;
  top: 58px;
  left: 686px;
  line-height: 150%;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  width: 541px;
  height: 298px;
}
.thesparkydryercombinestheuseof {
  top: 344px;
  left: 682px;
  height: 182px;
}
.button-31-sparkydryersection-3 {
  position: absolute;
  top: 544px;
  left: 900px;
  border-radius: 4px;
  border: 1px solid #14a098;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  text-align: left;
  font-size: 14px;
  color: #14a098;
}
.sparkydryersection-31-products {
  position: absolute;
  top: 368px;
  left: 24px;
  width: 1227px;
  height: 592px;
}
.rectangle2598-31-products-31-t,
.rectangle2599-31-products-31-t,
.rectangle2600-31-products-31-t {
  position: absolute;
  top: 1012px;
  left: 18px;
  background-color: rgba(230, 126, 34, 0.8);
  width: 1404px;
  height: 8px;
}
.rectangle2599-31-products-31-t,
.rectangle2600-31-products-31-t {
  top: 1747px;
}
.rectangle2600-31-products-31-t {
  top: 2527px;
}
.farmer-rice-field-with-laptop9-icon1 {
  position: absolute;
  top: 0;
  left: 637px;
  border-radius: 40px;
  width: 548px;
  height: 590px;
  object-fit: cover;
}
.usakulaisaninnovativeiot-based {
  position: absolute;
  top: 259px;
  left: 0;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 584px;
  height: 251px;
}
.button-31-usakulasection-31-pr {
  position: absolute;
  top: 542px;
  left: 175px;
  border-radius: 4px;
  border: 1px solid #14a098;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  text-align: left;
  font-size: 14px;
  color: #14a098;
  font-family: Poppins;
}
.usakulalogo21by21-31-usakulase-icon {
  position: absolute;
  top: 58px;
  left: 166px;
  width: 216px;
  height: 166px;
  object-fit: cover;
}
.usakulalogo21by22-31-usakulase-icon {
  position: absolute;
  top: 334px;
  left: 822px;
  width: 147px;
  height: 113px;
  object-fit: cover;
}
.usakulasection-31-products-31- {
  position: absolute;
  top: 1075px;
  left: 20px;
  width: 1231px;
  height: 613px;
  font-family: "Open Sans";
}
.farmer-rice-field-with-laptop7-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  width: 484px;
  height: 558px;
  object-fit: cover;
}
.discovertheauthenticflavorsand {
  position: absolute;
  top: 14px;
  left: 568px;
  line-height: 150%;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  width: 624px;
  height: 323px;
}
.button-31-sparkyspicessection- {
  position: absolute;
  top: 604px;
  left: 785px;
  border-radius: 4px;
  border: 1px solid #14a098;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  text-align: left;
  font-size: 14px;
  color: #14a098;
}
.farmer-rice-field-with-laptop2-icon1 {
  position: relative;
  border-radius: 40px;
  width: 114px;
  height: 188px;
  object-fit: cover;
}
.spicescourel-31-sparkyspicesse {
  position: absolute;
  top: 370px;
  left: 542px;
  width: 650px;
  height: 188px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.sparkyspices-31-sparkyspicesse {
  position: absolute;
  top: 0;
  left: 708px;
  font-size: 32px;
  letter-spacing: -0.04em;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  text-align: center;
  display: inline-block;
  width: 293px;
}
.sparkyspicessection-31-product {
  position: absolute;
  top: 1821px;
  left: 24px;
  width: 1236px;
  height: 662px;
}
.ourproducts-31-products-31-tec {
  position: absolute;
  top: 240px;
  left: 527px;
  font-size: 40px;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  text-align: center;
  display: inline-block;
  width: 364px;
}
.techlinersinc-31-techlinersin2 {
  position: relative;
  background-color: #fff;
  width: 1440px;
  height: 3230px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: justify;
  color: #474747;
}
.text-31-services-31-techliners {
  position: absolute;
  top: 336px;
  left: 242px;
  line-height: 150%;
  font-family: "Open Sans";
}
.ourservices-31-services-31-tec {
  position: absolute;
  top: 240px;
  left: 457px;
  font-size: 40px;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  text-align: center;
  display: inline-block;
  width: 364px;
}
.introducingtechlinersincscompr {
  position: absolute;
  top: 348px;
  left: 147px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 928px;
}
.button-31-services-31-techline {
  position: absolute;
  top: 645px;
  left: 233px;
  border-radius: 4px;
  background-color: #14a098;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.dataanalysissolutions-31-frame {
  position: relative;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 304px;
  flex-shrink: 0;
}
.readmore-31-frame644-31-frame6 {
  position: relative;
  font-size: 16px;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 500;
  font-family: Mulish;
  color: #2fb95d;
}
.frame644-31-frame645-31-treean {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.harnessthepowerofbigdatawithou {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: "Open Sans";
  color: #474747;
}
.frame645-31-treeandshrubcare-3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.treeandshrubcare-31-group55-31 {
  position: absolute;
  top: 0;
  left: 40px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 18px 15px 35px rgba(0, 0, 0, 0.09);
  width: 562px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 24px 40px 72px;
  box-sizing: border-box;
}
.group-31-icon-31-group55-31-se {
  position: relative;
  width: 48px;
  height: 48px;
}
.icon-31-group55-31-serviceslis {
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 24px;
  background-color: #e67e22;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
}
.frame55-31-serviceslist-31-ser,
.frame57-31-serviceslist-31-ser {
  position: absolute;
  top: 0;
  left: 0;
  width: 602px;
  height: 222px;
}
.frame57-31-serviceslist-31-ser {
  top: 240px;
  height: 246px;
}
.renewableenergysolutions-31-fr {
  position: relative;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 352px;
  flex-shrink: 0;
}
.simple-line-iconsenergy-31-ico {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame59-31-serviceslist-31-ser {
  position: absolute;
  top: 502px;
  left: 0;
  width: 602px;
  height: 246px;
}
.frame56-31-serviceslist-31-ser {
  position: absolute;
  top: 0;
  left: 642px;
  width: 602px;
  height: 222px;
}
.supplychainoptimization-31-fra {
  position: relative;
  line-height: 125%;
  font-weight: 600;
  display: inline-block;
  width: 348px;
  flex-shrink: 0;
}
.frame58-31-serviceslist-31-ser {
  position: absolute;
  top: 240px;
  left: 642px;
  width: 602px;
  height: 222px;
}
.serviceslist-31-services-31-te {
  position: absolute;
  top: 480px;
  left: 17px;
  width: 1244px;
  height: 794px;
  font-size: 24px;
  color: #043a3a;
}
.frame,
.techlinersinc-31-techlinersin3 {
  width: 1440px;
  overflow: hidden;
  flex-shrink: 0;
}
.techlinersinc-31-techlinersin3 {
  position: relative;
  background-color: #fff;
  height: 1258px;
}
.frame {
  height: 7988px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.rectangle3841-31-frame1-31-gro-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 491px;
  height: 647px;
}
.ellipse793-31-frame1-31-group1,
.ellipse794-31-frame1-31-group1 {
  position: absolute;
  top: 464px;
  left: 311px;
  border-radius: 50%;
  background-color: rgba(20, 160, 152, 0.6);
  width: 269px;
  height: 269px;
}
.ellipse794-31-frame1-31-group1 {
  top: 438px;
  left: 283px;
  background-color: rgba(230, 126, 34, 0.3);
  width: 138px;
  height: 138px;
}
.contactinformation-31-frame1-3 {
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: -0.04em;
  line-height: 125%;
  font-weight: 600;
}
.carbonlocation-filled-31-group-icon {
  position: absolute;
  top: 148px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bxsphone-call-31-group10000017-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.group1000001747-31-group100000 {
  position: relative;
  line-height: 150%;
}
.frame1000001747-31-group100000,
.frame1000001748-31-group100000 {
  position: absolute;
  top: 0;
  left: 0;
  width: 177px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.frame1000001748-31-group100000 {
  top: 74px;
  width: 218px;
}
.cornerlayibisiradongardgulu-31 {
  position: absolute;
  top: 148px;
  left: 49px;
  line-height: 150%;
  display: inline-block;
  width: 288px;
}
.frame1000001752-31-frame1-31-g {
  position: absolute;
  top: 226px;
  left: 40px;
  width: 337px;
  height: 172px;
  font-size: 16px;
  font-family: "Open Sans";
}
.frame1-31-group1000001746-31-g {
  position: relative;
  width: 507.19px;
  height: 668.34px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame1000001746-31-frame100000 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.03);
  width: 1235.45px;
  height: 689px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10.329834938049316px;
  box-sizing: border-box;
  font-size: 32px;
  color: #fff;
  font-family: Poppins;
}
.firstname-31-group1000001762-3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 84.7px;
  height: 24.79px;
  flex-shrink: 0;
}
.vector4-31-group1000001762-31-icon {
  position: relative;
  width: 287.17px;
  height: 1px;
}
.frame1000001762-31-group100000 {
  position: absolute;
  top: 61.98px;
  left: 569.17px;
  width: 287.17px;
  height: 56.81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.email-31-group1000001759-31-gr {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 42.35px;
  height: 24.79px;
  flex-shrink: 0;
}
.frame1000001759-31-group100000 {
  position: absolute;
  top: 165.28px;
  left: 569.17px;
  width: 287.17px;
  height: 56.81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.lastname-31-group1000001761-31 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 82.64px;
  height: 24.79px;
  flex-shrink: 0;
}
.frame1000001761-31-group100000 {
  position: absolute;
  top: 61.98px;
  left: 896.63px;
  width: 287.17px;
  height: 56.81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.vector9-31-group1000001757-31-icon {
  position: absolute;
  top: 57.35px;
  left: 0;
  width: 614.63px;
  height: 1px;
}
.message-31-group1000001757-31-,
.writeyourmessage-31-group10000 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 56.81px;
  height: 20.66px;
}
.writeyourmessage-31-group10000 {
  top: 26.29px;
  font-size: 14px;
  width: 153.91px;
  height: 21.04px;
}
.frame1000001757-31-group100000 {
  position: absolute;
  top: 371.87px;
  left: 569.17px;
  width: 614.63px;
  height: 57.85px;
  font-size: 12px;
  color: #8d8d8d;
  font-family: Poppins;
}
.phonenumber-31-group1000001763 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 118.79px;
  height: 24.79px;
  flex-shrink: 0;
}
.frame1000001763-31-group100000 {
  position: absolute;
  top: 165.28px;
  left: 896.63px;
  width: 287.17px;
  height: 56.81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.selectsubject-31-group10000017 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 125%;
  font-weight: 600;
  font-family: Poppins;
  display: inline-block;
  width: 144.62px;
  height: 20.66px;
}
.teenyiconstick-circle-solid-31 {
  position: relative;
  width: 13.43px;
  height: 13.68px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame1000001753-31-group100000,
.frame1000001754-31-group100000 {
  position: absolute;
  top: 35.77px;
  left: 0;
  width: 118.79px;
  height: 21.04px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 0.00008491847984259948px;
  box-sizing: border-box;
  gap: 10px;
}
.frame1000001753-31-group100000 {
  left: 139.45px;
  padding: 0 0 0 0.00022181292297318578px;
}
.usakula-31-group1000001755-31- {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 95.03px;
  height: 21.04px;
  flex-shrink: 0;
}
.frame1000001755-31-group100000,
.frame1000001756-31-group100000 {
  position: absolute;
  top: 35.77px;
  left: 278.91px;
  width: 118.79px;
  height: 21.04px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.00012957389117218554px;
  box-sizing: border-box;
  gap: 10px;
}
.frame1000001756-31-group100000 {
  left: 418.36px;
  padding: 0 0 0 0.00000732055923435837px;
}
.frame1000001758-31-group100000 {
  position: absolute;
  top: 268.58px;
  left: 569.17px;
  width: 537.15px;
  height: 56.81px;
  font-size: 12px;
}
.frame1000001766-31-contact-31- {
  position: absolute;
  top: 423px;
  left: 30px;
  width: 1235.45px;
  height: 689px;
  font-family: "Open Sans";
}
.copyrighttechlinersinc2023-31- {
  position: absolute;
  top: 328px;
  left: 610px;
  line-height: 150%;
}
.divider-31-footerseawire-foote-icon {
  position: absolute;
  top: 287.5px;
  left: 104px;
  width: 1232px;
  height: 1px;
}
.techlinersincofficiallogo20234-icon1 {
  position: absolute;
  top: 14px;
  left: 631px;
  width: 192px;
  height: 96px;
  object-fit: cover;
}
.logosfacebook-31-footerseawire-icon,
.skill-iconstwitter-31-footerse {
  position: absolute;
  top: 208px;
  left: 561px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.skill-iconstwitter-31-footerse {
  left: 653px;
}
.deviconlinkedin-31-footerseawi,
.fainstagram-31-footerseawire-f-icon {
  position: absolute;
  top: 208px;
  left: 735px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.deviconlinkedin-31-footerseawi {
  left: 817px;
}
.navigationmenu-31-footerseawir {
  position: absolute;
  top: 135px;
  left: 327px;
  width: 815px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: left;
  color: #fff;
  font-family: "Open Sans";
}
.footerseawire-footer-07-31-foo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2c3e50;
  overflow: hidden;
}
.footer-31-contact-31-techliner {
  position: absolute;
  top: 1288px;
  left: 0;
  width: 1440px;
  height: 416px;
  text-align: center;
  color: #cfd3d7;
  font-family: Roboto;
}
.button-31-contact-31-techliner {
  position: absolute;
  top: 911px;
  left: 1024px;
  border-radius: 4px;
  background-color: #14a098;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
}
.contactus-31-contact-31-techli {
  position: absolute;
  top: 286px;
  left: 559px;
  font-size: 40px;
  line-height: 125%;
  font-weight: 600;
  color: #9b59b6;
  text-align: center;
  display: inline-block;
  width: 364px;
}
.tech-linersinc,
.techlinersinc-31-techlinersin4 {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.techlinersinc-31-techlinersin4 {
  width: 1440px;
  height: 1700px;
  flex-shrink: 0;
  color: #474747;
}
.tech-linersinc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
  gap: 16px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
}
